extends layout

block content
  h1= title
  body
    form(action="/students/save", method="get")
      each val, key in json
        p !{key}:
        input(type='text', id=key, name=key, value=val)
        br
      br
      input(type="submit", value="Save Guardian Info")
