extends layout

block content
  h1= title
  table(border='1')
    thead
        tr
            th Student Name
            th Assignments
            th Alerts
            th Guardian Info
    tbody
        each student in students
            tr 
                td=student.name
                td
                    table(border='1')
                        each assignment in student.assignments
                            tr
                                td=assignment.name
                                td=assignment.status
                                td=assignment.dueDate
                td
                    form(action="/sendReminder", method="post")
                        button(name="sendReminderButton" value=student.name) Send Reminder to Guardian
                td
                    form(action="/students/edit", method="get")
                        button(name="student" value=student.id) Edit Guardian Info
