extends layout

block content
  h1= title
  table
    thead
        tr
            th Student Name
            th Assignments
            th Guardian Info
            th Alerts
    tbody
        tr
        each student in students
            tr 
                td=student.name
                td
                    table
                        each assignment in student.assignments
                            tr
                                td=assignment.name
                            tr
                                td=assignment.status
                            tr
                                td=assignment.dueDate
                td
                    table
                        each key,val in guardians
                            tr
                                td !{key}
                    br
                    a(href="/students/edit") Edit Guardian Info
    
                td
                    button(id="modalBtn" name="sendReminderButton" class="send-reminder-button") Send Reminder to Guardian
                    div.modal#simpleModal
                        div.modal-content
                        span.closeBtn x
                        form
                            textarea(type="text" class="edit-info-textbox" name="guardianmessage") Check your student's assignment on Google Classroom
                            br
                            br
                            button(id="modalBtn" name="sendReminderButton" class="send-reminder-button-centered") Send Reminder to Guardian
                    
                    script.
                        // Get modal element
                        var modal = document.getElementById('simpleModal');
                        // Get open modal button
                        var modalBtn = document.getElementById('modalBtn');
                        // Get close button
                        var closeBtn = document.getElementsByClassName('closeBtn')[0];
                        
                        // Listen for open click
                        modalBtn.addEventListener('click', openModal);
                        
                        // Listen for close click
                        closeBtn.addEventListener('click', closeModal);
                        
                        // Listen for outside click
                        window.addEventListener('click', outsideClick);
                        
                        
                        // Function to open modal
                        function openModal(){
                            modal.style.display = 'block';
                        
                        }
                        
                        // Function to close modal
                        function closeModal(){
                            modal.style.display = 'none';
                        
                        }
                        
                        // Function to close modal if outside click
                        function outsideClick(e){
                            if(e.target == modal){
                                modal.style.display = 'none';
                            }
                        
                        }



                        
