extends layout

block content
  h1= title
  table
    thead
        tr
            th Student Name
            th Assignments
            th Guardian Info
            th Alerts
    tbody
        tr
        each student in students
            tr 
                td=student.name
                td
                    table
                        each assignment in student.assignments
                            tr
                                td=assignment.name
                            tr
                                td=assignment.status
                            tr
                                td=assignment.dueDate
                td
                    table
                        each key,val in guardians
                            tr
                                td !{key}
                    br
                    a(href="/students/edit") Edit Guardian Info
    
                td
                    form(action="/sendReminder", method="post")
                        button(name="sendReminderButton" class="send-reminder-button" value=student.name) Send Reminder to Guardian

