extends layout

block content
  h1= title
  table(border='1')
    thead
        tr
            th Student Name
            th Assignments
            th Guardian Info
            th Alerts
    tbody
        tr
        each student in students
            tr 
                td=student.name
                td
                    table
                        each assignment in student.assignments
                            tr
                                td=assignment.name
                                td=assignment.status
                                td=assignment.dueDate
                td
                    table
                        each key,val in guardians
                            tr
                                td !{key}
                    form(action="/students/edit", method="get")
                        button(name="student" class="edit-info-button" value=student.name) Edit Guardian Info
    
                td
                    form(action="/sendReminder", method="post")
                        button(name="sendReminderButton" class="send-reminder-button" value=student.name) Send Reminder to Guardian

